.form {
    width: 30%;
}
.background{
    background-image: url(../../assests/background_img.jpg);
    background-repeat: round;
  }

.background2{
    background-color: black;
  }

.main {
    margin-left: 8%;
    margin-top: 4%;
}

.h3 {
    color: cornsilk;
}

.h32 {
    color: teal;
    margin-left: 4%;
    margin-top: 3%;
}

.forMainDiv {
    margin-left: 10%;
}